$colores:
#fff,
#000,
rgb(238, 238, 240),
#0ec6ad,
#d53e0f,
#cdf1ea,
#f18383,
#c6ebd5,
#117c6f,
#c8a4d4,
#643b9f,
#e5d4f8,
#743dc0,
#fcaf67,
#fd0800,
#ffdfcd,
#d53e0f,
#bce6ff,
#015c92;
$font-size:
25px,
27px,
22px,
20px,
30px,
40px,
60px,
200px;
$font-family:
'Roboto Condensed', sans-serif;
