/* .body-principal-inicio{
    background: linear-gradient(#cdf1ea, #f18383);
}
.body-principal-ciencia{
    background: linear-gradient( #c6ebd5 , #117c6f 115.75%);
}
.body-principal-tecnologia{
    background: linear-gradient( #e5d4f8 , #743dc0 );
}
.body-principal-ingenieria{
    background: linear-gradient( #ffdfcd , #d53e0f );
}
.body-principal-matematica{
    background: linear-gradient(289.68deg, #015c92 -10.45%, #bce6ff 115.75%);
}
 */